body{
	background-color: gray;
}
.my-slider-area{
	width: 700px;
	margin: 20px;
}

.slider-container.em-payout-slider{
	position: relative;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	
}

.slider-container.em-payout-slider .slider-track {
	background-color: brown;
	position: absolute;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.slider-container.em-payout-slider .slider-track .slider-track-half{
	width: 50%;
	float: left;
	height: 100%;
}

.slider-container.em-payout-slider .slider-track .slider-track-half.left{
	background-image: linear-gradient(to right, #005da3, #0092c4);
}

.slider-container.em-payout-slider .slider-track .slider-track-half.right{
	background-image: linear-gradient(to right, #82b757, #4c8d2c);
}

.slider-container.em-payout-slider .slider-handle{
	
	position: absolute;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	z-index: 100000;
	border-radius: 4px;
	border-top: solid 2px gray;
	border-bottom: solid 2px gray;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	cursor: default;
	text-align: center;
	line-height: 12px;
	padding-top: 2px;
	padding-right: 1px;
}

.slider-container.em-payout-slider .slider-tick-container{
	background-color: violet;
	width: 100%;
	position: absolute; 
}

.slider-container.em-payout-slider .slider-tick-container.top{
}
.slider-container.em-payout-slider .slider-tick-container.bottom{
}

.slider-container.em-payout-slider .slider-tick{
	background-color: black;
	position: absolute;
}

.slider-container.em-payout-slider .slider-tick.small{
	width: 1px;
}
.slider-container.em-payout-slider .slider-tick.big{
	width: 1px;
	z-index: 10000;
}

.slider-container.em-payout-slider .slider-arrow{
	line-height: 12px;
	font-size: 12px;
}

.slider-container.em-payout-slider .slider-right-arrow{
	margin-left: 3px;
	display: inline-block;
}

.slider-container.em-payout-slider .slider-left-arrow{
	margin-right: 3px;
	display: inline-block;
}

.slider-container.em-payout-slider .slider-tick-labels-container{
	background: steelblue;
	position: absolute;
}

.slider-container.em-payout-slider .topLabel{
	position: absolute;
	font-weight: bold;
	visibility: hidden;
}
