body{
	background-color: gray;
}
.my-slider-area{
	width: 700px;
	margin: 20px;
}

.slider-container.em-payout-slider{
	position: relative;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	
}

.slider-container.em-payout-slider .slider-track {
	position: absolute;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.slider-container.em-payout-slider .slider-track .slider-track-half{
	width: 50%;
	float: left;
	height: 100%;
}

.slider-container.em-payout-slider .slider-track .slider-track-half.left{
	background-image: linear-gradient(to right, #005da3, #0092c4);
}

.slider-container.em-payout-slider .slider-track .slider-track-half.right{
	background-image: linear-gradient(to right, #82b757, #4c8d2c);
}

.slider-container.em-payout-slider .slider-handle{
	position: absolute;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	z-index: 100000;
	border-radius: 4px;
	border-top: solid 2px #b0c6cf;
	border-bottom: solid 2px #b0c6cf;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	cursor: default;
	text-align: center;
	line-height: 12px;
	padding-top: 2px;
	padding-right: 1px;
}

.slider-container.em-payout-slider .slider-tick-container{
	width: 100%;
	position: absolute; 
}

.slider-container.em-payout-slider .slider-tick{
	background-color: black;
	position: absolute;
}

.slider-container.em-payout-slider .slider-tick.small{
	width: 1px;
}
.slider-container.em-payout-slider .slider-tick.big{
	width: 1px;
	z-index: 10000;
}

.slider-container.em-payout-slider .slider-arrow{
	line-height: 12px;
	font-size: 12px;
}

.slider-container.em-payout-slider .slider-right-arrow{
	margin-left: 3px;
	display: inline-block;
}

.slider-container.em-payout-slider .slider-left-arrow{
	margin-right: 3px;
	display: inline-block;
}

.slider-container.em-payout-slider .slider-tick-labels-container{
	position: absolute;
}

.slider-container.em-payout-slider .topLabel, 
.slider-container.em-payout-slider .bottomLabel{
	position: absolute;
	font-weight: bold;
	visibility: hidden;
}


.slider-container.em-payout-slider .slider-tooltip{
	position: absolute;
	color: #77cc52;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;

}

.slider-container.em-payout-slider .slider-tooltip {
	position: absolute;
	width: 100%;
	z-index: 1000000;
	border-radius: 3px;
	background: #fafafa;
  	border: 1px solid #ababab;

}

.slider-container.em-payout-slider .slider-tooltip:after,
.slider-container.em-payout-slider .slider-tooltip:before{
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


.slider-container.em-payout-slider .slider-tooltip.bottom:after,
.slider-container.em-payout-slider .slider-tooltip.bottom:before{
	bottom: 100%;
}

.slider-container.em-payout-slider .slider-tooltip.top:after,
.slider-container.em-payout-slider .slider-tooltip.top:before{
	top: 100%;
}



.slider-container.em-payout-slider .slider-tooltip.bottom:after{
	border-color: rgba(136, 183, 213, 0);
	border-width: 4px;
	margin-left: -4px;
}

.slider-container.em-payout-slider .slider-tooltip.bottom:before{
	border-color: rgba(171, 171, 171, 0);
	border-width: 5px;
	margin-left: -5px;
}

.slider-container.em-payout-slider .slider-tooltip.bottom:after{
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fafafa;
	border-width: 4px;
	margin-left: -4px;
}

.slider-container.em-payout-slider .slider-tooltip.bottom:before{
	border-color: rgba(171, 171, 171, 0);
	border-bottom-color: #ababab;
	border-width: 5px;
	margin-left: -5px;
}

.slider-container.em-payout-slider .slider-tooltip.top:after{
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fafafa;
	border-width: 4px;
	margin-left: -4px;
}

.slider-container.em-payout-slider .slider-tooltip.top:before{
	border-color: rgba(171, 171, 171, 0);
	border-top-color: #ababab;
	border-width: 5px;
	margin-left: -5px;
}

.slider-container.em-payout-slider .slider-menu{
	height: 24px;
	position: absolute;
	right: 0;
	top: -24px;
	width: 200px;
	font-size: 14px;
	line-height: 24px;
}

.slider-container.em-payout-slider .slider-menu .slider-menu-item{
	float: right;
	width: 50px;
	text-align: center;
	color: #dfdfdf;
	cursor: default;
}

.slider-container.em-payout-slider .slider-menu .slider-menu-item.active{
	background: #ecf7fc;
	color: #0092c4;
}


.slider-container.em-payout-slider .slider-legend{
	text-transform: uppercase;
	position: absolute;
	font-size: 12px;
}

.slider-container.em-payout-slider .slider-formated-rate{

}

.slider-container.em-payout-slider .full-number,
.slider-container.em-payout-slider .decimal-first-part{
	font-weight: 300;
	font-size: 12px;
}

.slider-container.em-payout-slider .decimal-second-part{
	font-size: 20px;
}

.slider-container.em-payout-slider .decimal-third-part{
	font-size: 12px;
	font-weight: bold;
}